body {
    color: black;
    line-height: 1.2;
    font-size: 100%;
    font-family: Verdana, Helvetica, sans-serif; }

#header{
    clear: both;
    background-color: bisque;
    margin-top: 2px;
    margin-left:2px;
    margin-right:2px;
    margin-bottom:2px;
    border: 2px solid maroon;
    text-align: center;
    line-height: 2;
    font-size: 200%;
    color:black;
    -webkit-border-radius: 8pt;
    -moz-border-radius: 8pt;
    border-radius: 8pt;

}

#menu{
    float: left;
    margin-left: 0.5%;
    width: 10%;
    position: fixed;
}
ul.menu {
    list-style: none;
    padding:0;
    margin: 0;


}

li.menu  {
    padding: 8px 0px 8px 8px;
    margin-bottom: 7px;
    background-color: rgba(150, 0, 0, .6);
    -webkit-border-radius: 8pt;
    -moz-border-radius: 8pt;
    border-radius: 8pt;

}
.menu li:hover {
    background-color: rgba(150,0,0,1);
}

#content{
    float: left;
    margin-left: 10%;
    background-color: azure;
    border-top: 2px solid maroon;
    border-left: 2px solid maroon;
    border-right: 2px solid maroon;
    padding: 2px;

    width:90%;
    min-width: 20%;
    -webkit-border-radius: 8pt;
    -moz-border-radius: 8pt;
    border-radius: 8pt;
}

#footer{
    clear: both;
    background-color: bisque;
    margin-top: 2px;
    margin-left:2px;
    margin-right:2px;
    margin-bottom:2px;
    border: 2px solid maroon;
    text-align: center;
    line-height: 2;
    font-size: 150%;
    -webkit-border-radius: 8pt;
    -moz-border-radius: 8pt;
    border-radius: 8pt;
}

.titolo{
    padding: 2px 2px 2px 2px;
    color: black;
    line-height: 1.5;
    font-size: 150%;

}

.sezione{
    border-bottom: 2px solid maroon;

}

a.descrizione, a.tabelle, a.grafici, a.analisi, a.commento{
    text-decoration: none;
    color: azure;
}

#graph{
    padding: 10px 10px 10px 10px;
}



/*CAPIRE COSA SELEZIONARE DA css TABELLE*/
table {
    margin-top: 1em;
    margin-left: 0.5em;
    margin-right: 0.5em;
    margin-bottom: 1em;
    border-top: 1pt solid black;
    font-family: sans-serif;
    border-collapse: collapse;

}



table tr:nth-child(2n+1) {
    background-color: rgb(230, 230, 230);
}

table tr:first-child {
    border-bottom: 1pt solid black;
    background-color: snow;
}



th, td {
    padding: 3pt;
    text-align: right;
}

td:first-child {
    text-align: left;
}


/** Tooltip con solo CSS (Tecnica 2) */
td > em {
    display: none; /* inizialmente invisibile */
    background-color: yellow;
    color: blue;
    position: absolute; /* non interferisce con il posizionamento degli altri elementi */
    width: 300px;
    z-index: 30;
    padding: 3pt;
    border: chocolate 1px solid;
    border-radius: 2pt;
    font-size: 80%;
    font-family: sans-serif;
    top: 10px;
    left: 5em;
    margin: auto;
}

tr:hover em { /* visualizzato on-hover */
    display: block;
}

/** Tooltip con JS events (Tecnica 3) */
.tooltip {
    display: none;
    position: fixed;

    background-color: snow;
    color: gray;
    padding: 5px;
    border: 1px solid gray;
    border-radius: 3px;
    z-index: 30;
    font-size: 80%;
    font-family: sans-serif;
    box-shadow: 3px 3px 8px;
}

[class*="menu"]{
    margin: 1em 1em 1em 1em;

}

.checkturisti{
    margin: 1em 1em 1em 1em;

}







