body {
    color: black;
    line-height: 1.2;
    font-size: 100%;
    font-family: Verdana, Helvetica, sans-serif; }

#header{
    clear: both;
    background-color: bisque;
    margin-top: 0.1em;
    margin-left:0.1em;
    margin-right:0.1em;
    margin-bottom:0.1em;
    border: 0.1em solid maroon;
    text-align: center;
    line-height: 2;
    font-size: 200%;
    color:black;
    -webkit-border-radius: 0.1em;
    -moz-border-radius: 0.1em;
    border-radius: 0.5em;

}

#menu{
    float: left;
    width: 8%;
    position: fixed;
    margin-left: 0.5%;
    margin-top: 1em;

}
ul.menu {
    list-style: none;
    padding:0;
    margin: 0;


}
.active {
    background-color: #4CAF50;
    color: white;
}

li.menu  {
    padding: 0.5em 0 0.5em 0.5em;
    margin-bottom: 0.3em;
    background-color: rgba(150, 0, 0, .6);
    -webkit-border-radius: 0.1em;
    -moz-border-radius: 0.1em;
    border-radius: 0.5em;

}
.menu li:hover {
    background-color: rgba(150,0,0,1);
}

#content{
    float: left;
    margin-left: 9%;
    margin-top: 1em;
    margin-bottom:1em;
    background-color: azure;
    border-left: 0.1em solid maroon;
    border-right: 0.1em solid maroon;
    border-top: 0.1em solid maroon;
    border-bottom: 0.1em solid maroon;
    padding-left: 0.5em;
    padding-right: 0.5em;

    width:89.5%;
    min-width: 20%;
    -webkit-border-radius: 0.1em;
    -moz-border-radius: 0.1em;
    border-radius: 0.5em;
}

#footer{
    clear: both;
    background-color: bisque;
    margin-top: 1em;
    margin-left:0.1em;
    margin-right:0.1em;
    margin-bottom:0.1em;
    border: 0.1em solid maroon;
    text-align: center;
    line-height: 2;
    font-size: 150%;
    -webkit-border-radius: 0.1em;
    -moz-border-radius: 0.1em;
    border-radius: 0.5em;
}

.titolo{
    padding: 0.1em 0.1em 0.1em 0.1em;
    color: black;
    line-height: 1.5;
    font-size: 150%;

}

.sezione{
    border-bottom: 0.1em solid maroon;

}

a.descrizione, a.tabelle, a.grafici, a.analisi, a.commento{
    text-decoration: none;
    color: azure;
}

#graph{
    padding: 1em 1em 1em 1em;
}

#originalTabRegioni, originalTabProvince{
   text-align: center;
}



/*CAPIRE COSA SELEZIONARE DA css TABELLE*/
table {
    margin: auto;
    margin-bottom: 1em;
    border-top: 1pt solid black;
    font-family: sans-serif;
    border-collapse: collapse;

}



table tr:nth-child(2n+1) {
    background-color: rgb(230, 230, 230);
}

table tr:first-child {
    border-bottom: 1pt solid black;
    background-color: snow;
}



th, td {
    padding: 0.2em;
    text-align: left;
}

td:first-child {
    text-align: left;
}


/** Tooltip con solo CSS (Tecnica 2) */
td > em {
    display: none; /* inizialmente invisibile */
    background-color: yellow;
    color: blue;
    position: absolute; /* non interferisce con il posizionamento degli altri elementi */
    width: 300px;
    z-index: 30;
    padding: 3pt;
    border: chocolate 1px solid;
    border-radius: 2pt;
    font-size: 80%;
    font-family: sans-serif;
    top: 10px;
    left: 5em;
    margin: auto;
}

tr:hover em { /* visualizzato on-hover */
    display: block;
}

/** Tooltip con JS events (Tecnica 3) */
.tooltip {
    display: none;
    position: fixed;

    background-color: snow;
    color: gray;
    padding: 5px;
    border: 1px solid gray;
    border-radius: 3px;
    z-index: 30;
    font-size: 80%;
    font-family: sans-serif;
    box-shadow: 3px 3px 8px;
}

[class*="tendina"]{
    margin: 1em 1em 1em 1em;

}

.checkturisti{
    margin: 1em 1em 1em 1em;

}







